In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%load_ext watermark
%watermark -v -n -m -p numpy,scipy,sklearn,pandas

Python implementation: CPython
Python version       : 3.8.13
IPython version      : 8.6.0

numpy  : 1.23.4
scipy  : 1.9.3
sklearn: 1.1.3
pandas : 1.5.1

Compiler    : GCC 10.3.0
OS          : Linux
Release     : 5.10.16.3-microsoft-standard-WSL2
Machine     : x86_64
Processor   :
CPU cores   : 4
Architecture: 64bit

In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import os
PROJ_ROOT = os.path.abspath(os.path.join(os.pardir))
print(PROJ_ROOT)

/workspaces/toce

In [4]:
import sys
sys.path.append(os.path.join(PROJ_ROOT, 'src'))
from data.preprocess import read_raw_data, preprocess_data
from visualization.exploratory import exploratory_visualization

In [5]:
data_fname = os.path.join(PROJ_ROOT, 'data', 'raw', 'toce.csv')
raw_data = read_raw_data(data_fname)
raw_data.head()

,sample,depth_m,drx_arc,drx_qz,drx_fk,drx_pl,drx_ca,drx_si,drx_do,drx_py,drx_ba,toc
0,1,727.14,56,25,0,8,3,2,3,2,1,0.57
1,2,729.00,53,27,0,10,2,0,4,3,1,1.12
2,3,731.06,50,30,0,10,2,2,4,3,1,1.32
3,4,731.90,52,27,0,9,2,1,4,4,1,1.51
4,5,733.05,51,25,0,9,1,0,5,7,2,2.03

In [6]:
preprocessed_data = preprocess_data(raw_data)
preprocessed_data.head()

,sample,depth_m,drx_arc,drx_qz,drx_fk,drx_pl,drx_ca,drx_si,drx_do,drx_py,drx_ba,toc
0,1,727.14,56,25,0,8,3,2,3,2,1,0.57
1,2,729.00,53,27,0,10,2,0,4,3,1,1.12
2,3,731.06,50,30,0,10,2,2,4,3,1,1.32
3,4,731.90,52,27,0,9,2,1,4,4,1,1.51
4,5,733.05,51,25,0,9,1,0,5,7,2,2.03

In [7]:
exploratory_visualization(preprocessed_data)